<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/gamestart/">Game</a></li>
            <li><a href="/statistics/">Statistics</a></li>
            {% if session.player %}
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block title %}{% endblock %}
        {% block body %}{% endblock %}
    </main>
</body>
</html>