main {
    display: flex;
    align-self: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% - 10px);
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

li a {
    display: flex;
    color: white;
    height: 20px;
    text-decoration: none;
    flex-grow: 1;
}

