main {
    display: flex;
    align-self: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% - 10px);
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

li a {
    display: flex;
    color: white;
    height: 20px;
    text-decoration: none;
    flex-grow: 1;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

form button {
    margin: 5px;
}

table {
    font-family: Arial, serif;
    border-collapse: collapse;
}

table td, table th {
    padding: 8px;
    min-width: 100px;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

#checkbutton{
    width: 200px;
}

